<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1098619175043-hhn07o8p6e598g2gjtq8m1u4ndtlga9r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1098619175043-hhn07o8p6e598g2gjtq8m1u4ndtlga9r</string>
	<key>API_KEY</key>
	<string>AIzaSyBI5JjOYeetSIQ6Lw_B4PEjzNbbKqhH1QY</string>
	<key>GCM_SENDER_ID</key>
	<string>1098619175043</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.Shtynda.SchoolDiary</string>
	<key>PROJECT_ID</key>
	<string>schooldiary-87ed6</string>
	<key>STORAGE_BUCKET</key>
	<string>schooldiary-87ed6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1098619175043:ios:77264fe7c44992b30d9bb6</string>
</dict>
</plist>